* { /* ボーダーを要素の内側に描画＝ボーダー幅を無視 */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
html{ /* 端末が小さい解像度の場合のフォントサイズ */
    font-size:100%;
    font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "遊ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}
@media screen and (min-width:500px){ /* 中程度の解像度の場合 */
    html{font-size:70%;}
}
@media screen and (min-width:1500px){ /* 大きい解像度の場合 */
    html{font-size:100%;}
}
body{
	-ms-touch-action: manipulation; /* IEのダブルタップの拡大無効化*/
	-webkit-touch-callout:none; /* iOSのロングタップのポップアップメニュー無効化*/
	-webkit-user-select:none; /* 要素の選択無効化*/
    padding:1px;
    height:100%; /* ウィンドウサイズいっぱい*/
    overflow:hidden; /* スクロール無効化 */
}
/* 操作のための要素をまとめる箱*/
div#buttons{
    width:calc(1/3*100%); /* ウィンドウの３分の１ */
    height:100%;
	float:left; /* 左寄せし、後続の要素を右側に回り込ます */
    font-size:2.0em; /* bodyのフォントサイズ×70% */
}
/* 操作ボタンを格納する箱 */
div#top{
    width:100%;
    height:calc(2/10*100%); /* ウィンドウの１０分の２ */
}
div#left{
    width:50%;
    height:calc(2/10*100%);
    float:left;
}
div#right{
    width:50%;
    height:calc(2/10*100%);
    float:left;
}
div#bottom{
    width:100%;
    height:calc(2/10*100%);
    clear:both; /* 要素の回り込みを解除 */
}

div#cam_left{
    width:50%;
    height:calc(2/10*100%);
    float:left;
    font-size:72%;
}
div#cam_center{
    width:0%;
    height:calc(2/10*100%);
    float:left;
}
div#cam_right{
    width:50%;
    height:calc(2/10*100%);
    float:left;
    font-size:67%;
}
div#wakeup{
    width:50%;
    height:calc(1/10*100%);
    float:left;
    font-size:1.2rem;
}
div#fall_down{
    width:50%;
    height:calc(1/10*100%);
    float:left;
    font-size:1.2rem;
}

/* 操作ボタン */
input[type="button"]{
	color:#000000; /* フォント色 */
    border:3px solid white; /* solid:実線 */
    width:100%; /* 格納先のdivのサイズいっぱい */
    height:100%;
}
input[type="button"]:disabled{
    background-color:gray;
}
input[type="button"]:disabled:active{
    background-color:gray;
}

input.dpad{
	background-color:#add8e6;
    font-weight:900;
}
input.dpad:active{
    background-color:#6fbad3;
}
input.campad{
	background-color:#90ee90;
    font-weight:900;
}
input.campad:active{
    background-color:#29df29;
}
input.escape{
	background-color:#ffa07a;
    font-weight:900;
}
input.escape:active{
    background-color:#ff4401;
}
input#emergency{
    background-color:#fffd4e;
    
        font-weight:900;
}
input#message{
	border:3px solid white;
    border-color:#767676;
    margin-left:1%;
    float:left;
    width:58%;
    height:calc(1/10*100%);
    font-size:0.8em;
}
div#emergency{
    width:calc(4/10*100%);
    height:calc(1/10*100%);
    float:left;
    margin-left:1%;
    font-size:0.9rem;
}
div#imagearea{ /* カメラ映像を表示する箱 */
    width:calc(2/3*100%);
    height:100%;
	float:left;
    position:relative; /* 子要素のposition設定用 */
    border:3px solid white;
}

img#camera{ /* カメラ映像の格納先　主に画像を親要素のど真ん中に表示する用 */
	position:absolute; /* 親要素の左上を基準として絶対位置に配置 */
    width:100%; /* 幅に合わせて自動で縮小するが拡大は無効化 */
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
div#map{
    width:calc(1/4*100%);
    height:25%;
    position:relative;
    float:right;
}
div#Rader{
	width:200px;
    height:150px;
    position:absolute;
    left:3%;
    top:27%;    
}
div#state{/*画面右上の白枠の部分、現在のローバーの状況説明*/
	padding-top:1px;
	text-align:center;
    width:30%;
    height:7%;
    margin-top:1%;
    margin-left:69%;
    float:left;
    position:relative;
    border:3px solid white;
    font-size:2.0em;
    font-weight:bold;
    background-color: rgba(255,255,255,0.55);
}
/*IEでのみフォントが崩れるのでその修正*/
@media all and (-ms-high-contrast:none)
{
  div#state { padding-top : 10px } /* IE10以降 */
}

div#point_state{/*画面右下、得点取得時の表示部分*/
    position:relative;
    width:40%;
    height:5%;
    float:left;
    margin-top:17%;
    margin-left:59%;
    font-size:1.8em;
    font-weight:bold;
    text-align:right;
}

div#check{/*映像画面中央、情報を大きく表示する部分*/
    width:600px;
    height:10%;
    float:left;
    margin-top:20%;
    margin-left:15%;
    padding-top:10px;
    position:relative;
    text-align:center;
    font-size:2.5em;
    font-weight:bold;
    text-align:center;
}

div#messages{ /* 送受信メッセージの格納先 */
	font-size:1.2em;
	background-color:rgba(0,0,0,0.7);
    color:#ffffff;
    width:98%;
    height:25%;
    margin-left:1%;
    overflow-y:scroll; /* 子要素が溢れたらスクロールする */
	overflow-x:hidden;
    border:3px solid white;
    position:absolute;
    top:0px;
}
p#sent{
    color:#00ffff;
}
p#catch{
    color:#ffffff;
}
p#test{
    color:ff0000;
}
img#gnd{
	position:absolute; /* 親要素の左上を基準として絶対位置に配置 */
    max-width:95%; /* 幅に合わせて自動で縮小するが拡大は無効化 */
    max-height:95%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
img#navi{
	-moz-transform-origin:50%;
	-webkit-transform-origin:50%;
	position:absolute; 
    max-width:20%; 
    max-height:20%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
img#eye{
    position:absolute;
    max-width:95%;
    max-height:95%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
img#field{
	opacity:0.6;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    position:absolute;
    max-width:100%;
    max-height:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:0;
}

img#goal{
    position:absolute;
    max-width:0%;
    max-height:0%;
    bottom:122px;
    left:90px;
}

img#posit{
z-index:1;
    position:absolute;
    max-width:100%;
    max-height:100%;
    bottom:22px;
    left:90px;
}

img#point1{
    position:absolute;
    max-width:0%;
    max-height:0%;
    bottom:0px;
    left:0px;
}

img#point2{
    position:absolute;
    max-width:0%;
    max-height:0%;
    bottom:0px;
    left:0px;
}
img#parts1{
    position:absolute;
    max-width:0%;
    max-height:0%;
    margin-top:47%;
    margin-left:85%;
}

img#parts2{
    position:absolute;
    max-width:0%;
    max-height:0%;
    margin-top:39%;
    margin-left:85%;
}
img#parts3{
    position:absolute;
    max-width:0%;
    max-height:0%;
    margin-top:35%;
    margin-left:85%;
}
img#rocket{
    position:absolute;
    max-width:0%;
    max-height:0%;
    margin-top:35%;
    margin-left:85%;
}

/*animation開発　10/8*/
#launch img{
    animation-name:none;
    -webkit-animation-name:none;
    -ms-animation-name:none;
    -o-animation-name:none;
    -moz-animation-name:none;
    
    animation-duration:2.5s;
    -webkit-animation-duration:2.5s;
    -ms-animation-duration:2.5s;
    -o-animation-duration:2.5s;
    -moz-animation-duration:2.5s;
    
    animation-timing-function: ease-in;
    -webkit-animation-timing-function:ease-in;
    -ms-animation-timing-function:ease-in;
    -o-animation-timing-function:ease-in;
    -moz-animation-timing-function:ease-in;
}

@keyframes anime{
    from{
        margion-top:35%;
    }
    to{
        margin-top:-60%;
    }
}
@-webkit-keyframes anime{
    from{
        margin-top:35%;
    } 
    to{
        margin-top:-60%;
    }
}
@-ms-keyframes anime{
    from{
        margion-top:35%;
    }
    to{
        margin-top:-60%;
    }
}
@-o-keyframes anime{
    from{
        margion-top:35%;
    }
    to{
        margin-top:-60%;
    }
}
@-moz-keyframes anime{
    from{
        margion-top:35%;
    }
    to{
        margin-top:-60%;
    }
}
