* { /* ボーダーを要素の内側に描画＝ボーダー幅を無視 */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
html{ /* 端末が小さい解像度の場合のフォントサイズ */
    font-size:20px;
    font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}
@media screen and (min-width:500px){ /* 中程度の解像度の場合 */
    html{font-size:30px;}
}
@media screen and (min-width:1500px){ /* 大きい解像度の場合 */
    html{font-size:50px;}
}
body{
	-ms-touch-action: manipulation; /* IEのダブルタップの拡大無効化 */
	-webkit-touch-callout:none; /* iOSのロングタップのポップアップメニュー無効化 */
	-webkit-user-select:none; /* 要素の選択無効化 */
    padding:1px;
    height:100%; /* ウィンドウサイズいっぱい */
    overflow:hidden; /* スクロール無効化 */
}
/* 操作のための要素をまとめる箱 */
div#buttons{
    width:calc(1/3*100%); /* ウィンドウの3分の1 */
    height:100%;
	float:left; /* 左寄せし，後続の要素を右側に回り込ます */
    font-size:0.7em; /* bodyのフォントサイズ×70% */
}
/* 操作ボタンを格納する箱 */
div#top{
    width:100%;
    height:calc(2/10*100%); /* ウィンドウの10分の2 */
}
div#left{
    width:50%;
    height:calc(2/10*100%);
    float:left;
}
div#right{
    width:50%;
    height:calc(2/10*100%);
    float:left;
}
div#bottom{
    width:100%;
    height:calc(2/10*100%);
    clear:both; /* 要素の回り込みを解除 */
}
div#cam_left{
    width:calc(1/3*100%);
    height:calc(2/10*100%);
    float:left;
}
div#cam_center{
    width:calc(1/3*100%);
    height:calc(2/10*100%);
    float:left;
}
div#cam_right{
    width:calc(1/3*100%);
    height:calc(2/10*100%);
    float:left;
}
div#para_sepa{
    width:100%;
    height:calc(1/10*100%);
    clear:both;
}
/* 操作ボタン */
input[type="button"]{
	color:#000000; /* フォント色 */
    border:3px solid white; /* solid:実線 */
    width:100%; /* 格納先のdivのサイズいっぱい */
    height:100%;
}
input[type="button"]:disabled{
    background-color:gray;
}
input.dpad{
	background-color:#add8e6;
    font-weight:900;
}
input.dpad:active{
    background-color:#6fbad3;
}
input.campad{
	background-color:#90ee90;
    font-weight:900;
}
input.campad:active{
    background-color:#29df29;
}
input#sepapara{
	background-color:#ffa07a;
    font-weight:900;
}
input#sepapara:active{
    background-color:#ff4401;
}
input#emergency{
    background-color:#ffffff;
    color:#ffffff;
}
input#message{
	border:3px solid white;
	background-color:whitesmoke;
    float:left;
    width:calc(2/3*100%);
    height:calc(1/10*100%);
}
div#emergency{
    width:calc(1/3*100%);
    height:calc(1/10*100%);
    float:left;
}
div#imagearea{ /* カメラ映像を表示する箱 */
    width:calc(2/3*100%);
    height:100%;
	float:left;
    position:relative; /* 子要素のposition設定用 */
    border:3px solid white;
}
img#camera{ /* カメラ映像の格納先 主に画像を親要素div#imageareaのど真ん中に表示する用 */
	position:absolute; /* 親要素の左上を基準として絶対位置に配置 */
    width:100%; /* 幅に合わせて自動で縮小するが拡大は無効化 */
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
div#map{
	background-color:rgba(0,0,0,0.7);
    border:3px solid white;
    width:calc(1/4*100%);
    height:30%;
    position:relative;
    float:right;
}
div#messages{ /* 送受信メッセージの格納先 */
	font-size:0.4em;
	background-color:rgba(0,0,0,0.7);
    color:#ffffff;
    width:calc(3/4*100%);
    height:10%;
    overflow-y:scroll; /* 子要素が溢れたらスクロールする */
	overflow-x:hidden;
    border:3px solid white;
    position:absolute;
    top:0px;
}
p#sent{
    color:#00ffff;
}
p#catch{
    color:#ffffff;
}
p#test{
    color:ff0000;
}
img#gnd{
	position:absolute; /* 親要素の左上を基準として絶対位置に配置 */
    max-width:95%; /* 幅に合わせて自動で縮小するが拡大は無効化 */
    max-height:95%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
img#navi{
	-moz-transform-origin:50%;
	-webkit-transform-origin:50%;
	position:absolute; /* 親要素の左上を基準として絶対位置に配置 */
    max-width:20%; /* 幅に合わせて自動で縮小するが拡大は無効化 */
    max-height:20%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
img#eye{
    position:absolute;
    max-width:95%;
    max-height:95%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
