body {
    background-image:url('../img/stars.jpg');   
}

h1{
	color:darkgray;
    padding: 8% 0 0 15%;
    font-size: 40px;
}

h2{
    padding: 0 0 0 20%;
    font-size: 60px;
}

img{
    width: 100px;
    height: 100px;
    display: block;
    margin-top: 3%;
    margin-left: 50%;
    margin-bottom: -4px;
}

div#button{
	margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    width: 200px;
    height: 75px;
    text-align: center;
  	background:#ffffff;
	border-top: 8px solid #C00;
    border-left: 8px solid #09C;
    border-right: 8px solid #9C0;
    border-bottom: 8px solid #FC0;
    color #111;
}

input#start{
    font-size:25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
}

div#white{
	margin-top:100px;
	margin-left:auto;
    margin-right:auto;
    background-color:#ffffff;
    width:80%;
    padding:50px;
}
