extends layout
 
block content
	h1= title
	p
		if(!user)
			a(href="/login") login
			br
		else
			a(href="/logout") logout
			br
			a(href="/uploader.html") upload
			br
			a(href="/member_only") Member only page 
			br
		a(href="/client.html") watch
		br
