doctype
html( lang="en" )
	head
		title Baking Bootstrap Snippets with Jade
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		//- Bootswatch Theme
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
		link(href="css/login.css" rel="stylesheet")

	body(style="padding-bottom:10rem;")
		#container
			form(action="/login", method="post", class="form-signin")
				h2(class="form-signin-heading") Login
				if(message)
					h3(class="form-signin-heading")= message
				label(for="inputUsername", class="sr-only") : User name
				input(id="inputUsername", type="text", name="username", placeholder="Username", class="form-control")
				br
				label(for="inputPassword", class="sr-only") : Password
				input(id="inputPassword", type="password", name="password", placeholder="Password", class="form-control")
				input(type="submit", value="Login", class="btn btn-lg btn-primary btn-block") 

		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )

